@model IEnumerable<Livraria.Mvc.Domain.Models.Livros.Livro>

<h1>Livros</h1>

<p><a asp-action="Create">Inserir novo livro</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <img src="data:image/jpeg;base64, @item.Imagem" height="80" width="60" alt="Capa do Livro"/>
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Edicao)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td style="vertical-align: middle;">
                    @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Detalhar", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Apagar", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>